NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-local-anon-key
NEXT_PUBLIC_ELSATIA_ACCOUNT_URL=http://localhost:3000/abonnement
NEXT_PUBLIC_COLORS_URL=http://localhost:3010
